<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://hd.unsplash.com/photo-1445364502257-00c4ddb9b18d');">
    <div class="banner-content">
      <h1>The best restaurants </h1>
      <p>Find amazing places for breakfast, lunch, dinner or drinks!</p>
    </div>
  </div>


<h1 class="text-center">Your restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
<div class="product">
  <div class='product-body'>
    <h3>
      <%= restaurant.name %>
    </h3>
    <p>
      <%= restaurant.address %>
    </p>
  </div>
  <ul class="list-inline product-controls ">
    <li><%= link_to 'Details', restaurant_path(restaurant), class: "btn btn-primary" %></li>

  </ul>
</div>
  <% end %>
</ul>
